<%@ CodeTemplate Language="C#" TargetLanguage="SQL" Debug="False" Description="Generate SQL Insert Statements from table data." %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Assembly Name="System.Data" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text" %>

<%@ Property Category="1.DataBase" Name="table" Type="SchemaExplorer.TableSchema" Editor=""%>
<%@ Property Category="2.PropertyInfo" Name="nmameSpace" Type="String" %>
<%string tablename=string.Format("[{0}].[{1}]",table.Owner,table.Name);
var names="."+table.Owner;
if (table.Owner=="dbo")
{
	 names="";
}
%>
using System;
using System.Runtime.Serialization;
using FWW.Framework.DapperEx;

namespace <%=nmameSpace%><%=names %>
{
    [Table(Name = "<%=tablename%>")]
    public partial class <%=table.Name %>Entity : BaseEntity
    {
        #region StaticReadOnlyFields
        protected static string tableName;
        <%foreach (ColumnSchema item in table.Columns)
    	{%>
        /// <summary>
        /// <%=item.Description%>
        /// </summary>
        public static readonly Field F_<%=item.Name%>;
        <%} %>
        #endregion
        
        #region Constructor
        static <%=table.Name %>Entity()
        {
            tableName="<%=tablename%>";
        <%foreach (ColumnSchema item in table.Columns)
    	{%>
            F_<%=item.Name%> = new Field("<%=item.Name%>", tableName);
        <%} %>
        }
        #endregion
        
        #region DataMember
        <%foreach (ColumnSchema item in table.Columns)
    	{  %>
        /// <summary>
        /// <%=item.Description%>
        /// </summary>
        <%
            if (item.IsPrimaryKeyMember)
        	{%>
        [PrimaryKey]
        public <%=GetSystemType(item)%> <%=item.Name%>{get;set;}
        	<%}else{%>
        public <%=GetSystemType(item)%> <%=item.Name%>{get;set;}
        
        <%}} %>
        #endregion
        
        #region Method
        public new string ToString()
        {
            return string.Format("<%=GetFieldFomatString(table.Columns)%>",<%=GetFieldString(table.Columns)%>);
        }
        #endregion
    }
}
<script runat="template">
/// <summary>
/// 
/// </summary>
/// <param name="item"></param>
/// <returns></returns>
public string GetPrimayKey(ColumnSchema item)
{
    StringBuilder sb=new StringBuilder();
    if (item.IsPrimaryKeyMember)
	{
        if ((bool)item.ExtendedProperties["CS_isIdentity"].Value==true)
        	{
        sb.Append("[PrimaryKey(AutoIncrement=true)]");		 
        	}
            else
                sb.Append("[PrimaryKey]");
		 
	}
    //sb.Append("[DataMember]");
    return sb.ToString();
}
/// <summary>
/// 
/// </summary>
/// <param name="item"></param>
/// <returns></returns>
public string GetSystemType(ColumnSchema item)
{
    if (item.SystemType!=typeof(System.String))//&&item.AllowDBNull
    	return item.SystemType.Name+"?";
    return item.SystemType.Name;
}
public string GetFieldString(ColumnSchemaCollection columns)
{
    StringBuilder sb=new StringBuilder();
    foreach (var item in columns)
	{
		 sb.AppendFormat(",{0}",item.Name);
	}   
    return sb.Remove(0,1).ToString();
}
public string GetFieldFomatString(ColumnSchemaCollection columns)
{
    StringBuilder sb=new StringBuilder();
    int index=0;
     foreach (var item in columns)
	{
		 sb.AppendFormat(",{0}={{{1}}}",item.Name,index);
        index++;
//        sb.Append("{"++"}");
	}   
    return sb.Remove(0,1).ToString();
}
</script>