@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    光复西路丹巴路<br />
    6291517388<br />
    <abbr title="Phone">P:</abbr>
    18601650373
</address>

<address>
    <strong>Support:</strong> <a href="mailto:liujg@5173.com">liujg@5173.com</a><br />
</address>
